

body {
    background: rgba(240, 234, 238, 0.985);
}

.nav-item .dropdown {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav form {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 0.5rem;
}
