:root {
    --section-width: 30vw;
    --margin-account-info-elements: 0 5rem;
    --border-radius-account-info-elements: 10px;
    --width-account-info-elements: 60%;
    --section-height: 70vh;
    --section-box-shadow: 10px 10px 10px;
    --section-background-color: white;
}

body {
    width: 100%;
}

.account-title-div {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.main-page {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 4rem;
}

.account-options {
    display: flex;
    flex-direction: column;
}

.added-class-buttons {
    background-color: white;
    width: 10vw;
}

.account-info {
    display: flex;
    flex-direction: column;
    background-color: var(--section-background-color);
    width: var(--section-width);
    gap: 2rem;
    height: var(--section-height);
    border-radius: var(--border-radius-account-info-elements);
    box-shadow: var(--section-box-shadow)
}

.account-info-photo {
    display: flex;
    justify-content: center;
}

.account-photo {
    border: 1px solid rgba(233, 231, 231, 0.963);
    border-radius: 50%;
    width: 30%;
    margin-top: 1rem;
    box-shadow: 3px 3px rgba(233, 231, 231, 0.963);
}


.account-info-email,
.account-info-username,
.account-info-bio {
    display: flex;
    border: 1px solid black;
    gap: 3rem;
    justify-content: center;
    margin: var(--margin-account-info-elements);
    border-radius: var(--border-radius-account-info-elements);
    width: var(--width-account-info-elements);
}


.added-gap {
    gap: 4rem;
}

.posts-info {
    width: var(--section-width);
    background-color: var(--section-background-color);
    height: var(--section-height);
    border-radius: var(--border-radius-account-info-elements);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--section-box-shadow)
}


.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70%;
    gap: 3rem;
}

.search-results {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    gap: 3rem;
}

.result {
    border: 1px solid black;
    border-radius: 10px;
    width: 60%;
    display: flex;
    justify-content: center;
    padding: 3rem;
    gap: 10rem;
    box-shadow: 10px 10px 10px;
    background-color: white;
}

.result-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.result-content img {
    width: 5vw;
    border: 1px solid black;
    box-shadow: 10px 10px 100px rgb(143, 139, 139);
}

.result-content .result-username {
    margin-top: 1rem;
    font-size: 1.5rem;
}


.fa-solid.fa-user-plus {
    font-size: 1.5rem;
    cursor: pointer;
}

.followed {
    color: rgb(159, 181, 164);
}

.bordered {
    border: 3px solid rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

.nav-pills .nav-link.active {
    background-color: #212529bb;
}

.nav-pills .nav-link-color {
    color: rgba(0, 0, 0, 0.589)
}

.nav-pills .nav-link-color:hover:not(.active) {
    color: rgb(5, 5, 5);
}
