{% extends "layouts/base.html" %}
{% load static %}


{% block title%}
    Results
{% endblock %}

{% block head %}
   <link rel="stylesheet" href="{% static 'users/css/account-style.css' %}">
{% endblock %}


{% block body %}
<div class='layout'>
    <main>
        <h1>Users found</h1>
        <div class='search-results'>
            {% for user in results %}
            <div class='result'>
                <div class='result-content'>
                    {% if user.profile.profile_picture %}
                        <img src="{{ user.profile.profile_picture.url }}" alt="{{ user.username }} profile picture">
                    {% else %}
                        <img src="/media/profile_pictures/default_pic.jpg" alt="{{ user.username }} profile picture">
                    {% endif %}
                    <p class='result-username'> {{ user.username }} </p>
                    <i class="fa-solid fa-user-plus {% if user.is_following %}followed{% endif %}" data-username="{{ user.username }}"></i>
                </div>
            </div>
                {% empty %}
                <p>No users found</p>
            {% endfor %}
        </div>
    </main>
</div>


<script src="{% static 'js/getCookie.js' %}"></script>
<script>

    const followButtons = document.querySelectorAll('.fa-user-plus');

    followButtons.forEach((el) => {
        el.addEventListener("click", () => {
            const username = el.dataset.username
            
            fetch(`/interactions/user/${username}/follow/`, {
                method: "POST",
                headers: {
                    "X-CSRFToken": getCookie('csrftoken'),
                    "Content-Type": 'application/json',
                }
            })
            .then(res => res.json())
            .then(data => {
                el.classList.toggle("followed", data.followed);
            })
            .catch(err => console.error(err));
        });
    });
</script>

{% endblock %}