{% extends "layouts/base.html" %}
{% load static %}

{% block body %}
  <div class='layout'>
    <main>
    <h1>Feed</h1>
      {% for post in posts %}
      <div class="post">
        <h5 class='post-author'>{{ post.author }}</h5>
        <p class='post-body'>{{ post.body }}</p>
        <p class='post-date'>{{ post.date }}</p>

        <div class="icons">
          <div class="likes-section">
            <span class='likes-count'>{{ post.likes.count }}</span>
            <i class="fa-solid fa-heart {% if post.user_liked %}liked{% endif %}" data-slug="{{ post.slug }}"></i>
          </div>
          <div class="comments-section">
            <span class="comments-count">{{ post.comments.count }}</span>
            <i class="fa-solid fa-comment" data-post-slug="{{ post.slug }}"></i>
          </div>
          {% comment %} <div class="share-section">
            <i class="fa-solid fa-share"></i>
          </div> {% endcomment %}
        </div>

         <!--Hidden input for comment-->
          <div id="comment-box-{{ post.slug }}" class="comment-box">
            <input type="text" id="input-{{ post.slug }}" placeholder="Comment here">
            <button class="btn btn-secondary" onclick="addComment('{{post.slug}}')">Add comment</button>
          
          
            <div id="comment-list-{{post.slug}}" class="comment-list">
              {% for comment in post.comments.all %}
                {% include "posts/partials/comment_item.html" %}
              {% empty %}
              <p class="no-comments">No comments yet.
              {% endfor %}
            </div>
          </div>


      </div>
      {% empty %}
      <p>No posts yet. Press "New Post" to add your first</p>
      {% endfor %}
    </main>
  </div>

  <script src="{% static 'js/getCookie.js' %}"></script>
  <script src="{% static 'posts/js/like-comment.js' %}"></script>
{% endblock %}