

:root {
    --main-color: #212529;

}

.layout {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70%;
    gap: 3rem;
}

.post {
    border: 1px solid black;
    border-radius: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    box-shadow: 10px 10px 10px;
    background-color: white;
}

.post-author{
    font-size: 1.5rem;
    color: var(--main-color);
}

.post-body {
    font-weight: 400;
}

.post-date {
    font-weight: 200;
    font-size: 0.8rem;
}

.fa-solid.fa-heart {
    cursor: pointer;
}

.fa-solid.fa-heart.liked {
    color: red;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.likes-count {
    margin-bottom: 1rem;
}

.fa-solid.fa-comment {
    cursor: pointer;
}

.fa-solid.fa-comment.commenting {
    color: rgb(83, 59, 150);
}

.comment-box {
    display: none;
    width: 100%;
    margin-top: 1rem;
}

.comment-box input {
    display:;
    margin-bottom: 1rem;
    width: 75%;
}

.comment-ready {
    display: block;
}

.comment {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding-top: 1rem;
    margin-bottom: -1px;
    gap: 0.8rem;
    
}

.comment img {
    width: 10%;
}

.comment .timestamp {
    font-weight: 200;
    font-size: 0.7rem;
}

.comment .body {
    margin-bottom: 0;
}

.comment:last-of-type  {
    border-bottom: none;
}

.comment-list {
    margin-bottom: -2rem;
}

.counter {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.comment img {
    border: 1px solid black;
}

.comment-box input {
    color: rgba(0,0,0,.87);
    border-bottom-color: rgba(0,0,0,.42);
    font-size: 1rem;
    font-weight: 400;
    width: 10;
    padding: 20px 16px 6px;
    border: none;
    border-radius: 4px 4px 0 0;
    background: rgb(245, 245, 245);
    height: 3.5rem;
}
                